<?xml version="1.0" encoding="UTF-8"?>
<routes>
	<!-- 
	::::::: Les rôles ::::::::
		Visiteurs : 1
		Utilisateurs : 2
		Administrateur : 3
	::::::::::::::::::::::::::
	-->
	<route name="home" role="1,2,3" module="Login" controller="Index" action="index" uri="" var="" />
	
	<route name="accueil" role="2,3" module="Front" controller="Index" action="index" uri="accueil.html" var="" />	
	
	<route name="ajaxconnexion" role="2,3" module="Front" controller="Ftp" action="ajaxconnexion" uri="ajaxconnexionftp.html" var="" />
	<route name="connexion" role="2,3" module="Front" controller="Ftp" action="connexion" uri="connexionftp.html" var="" />
	<route name="explorer" role="2,3" module="Front" controller="Ftp" action="ajaxexplorer" uri="explorer.html" var="" />
	<route name="files" role="2,3" module="Front" controller="Ftp" action="ajaxfiles" uri="files.html" var="" />
</routes>
