@CHARSET "UTF-8";

#Header{margin:0;position:relative;z-index:3;height:55px;box-shadow: 0px 5px 15px 1px #000000;background-image: -moz-linear-gradient(top, #404040, #202020);background-image: -ms-linear-gradient(top, #404040, #202020);background-image: -o-linear-gradient(top, #404040, #202020);background-image: -webkit-gradient(linear, center top, center bottom, from(#404040), to(#202020));background-image: -webkit-linear-gradient(top, #404040, #202020);background-image: linear-gradient(top, #404040, #202020);border-top:1px red solid;border-bottom:1px #000 solid;}

#Body{min-height:65%;height:65%;max-height:88%;	min-width:100%;width:100%;max-width:100%;}
#Body .ui-icon, #Body .ui-widget-content .ui-icon{background-image:none;}

#PartialMenu{color:#fff;margin:15px 0 0 25px;}
	.PartialMenu-spanLogin{float:left;}
	.PartialMenu-icoFTP{float:left;display:block;width:25px;height:24px;background:url(../Images/Front/ico_ftp.png) bottom left no-repeat;margin-left:15px;cursor:pointer;}
	.PartialMenu-icoFTP:hover{background-position:top left;width:40px;height:40px;margin-top:-8px;margin-left:7px;}
	.PartialMenu-icoFTP:hover .PartialMenu-spanLogin{border:1px green solid;}
	
#FormFTPConnexion{}
	.FormFTPConnexion-inputHote{width:70%;}
	.FormFTPConnexion-inputPort{width:20%;}
	.FormFTPConnexion-inputLogin{width:45%;}

#Explorer{position:relative;z-index:2;height:100%;min-height:100%;max-height:100%;width:15%;max-width:35%;min-width:15%;float:left;overflow:auto;background-color:#f2f2f3;box-shadow:3px 0px 10px 0px #ccc;}
	#SsExplorer{padding-left:15px;margin-top:20px;width:calc(100% - 15px);max-width:calc(100% - 15px);min-width:calc(100% - 15px);white-space:nowrap;}

#Content{position:relative;z-index:1;height:100%;width:85%;max-width:85%;min-width:65%;float:left;overflow:auto;}
	#SsContent{margin-top:20px;margin-left:10px;height:90%;}

#Footer{min-height:5.4%;height:28%;max-height:28%;min-width:100%;width:100%;max-width:100%;border-top:3px #b9b9b9 solid;}